// Colors

$color-primary: #f74780;
$color-secondary: #13183f;
$color-secondary-hover: #666ca3;
$color-tertiary: #ffa7c3;
$color-grey: #83869a;
$color-white: #ffffff;

// Gradients
$gradient-primary: linear-gradient(to bottom, #f02aa6, #ff6f48);
$gradient-secondary: linear-gradient(to bottom, #4851ff, #f02aa6);

// Headings

$h1-font-size: 5.6rem;
$h2-font-size: 4rem;
$h3-font-size: 3.2rem;
$h4-font-size: 2.4rem;

// Body

$body-md: 1.8rem;
$body-sm: 1.6rem;

// Spacing
$line-height-xl: 7rem;
$line-height-lg: 5.1rem;
$line-height-md: 4rem;
$line-height-sm: 2.8rem;
