// Colors

$color-primary: #f74780;
$color-secondary: #13183f;
$color-secondary-hover: #666ca3;
$color-tertiary: #ffa7c3;
$color-grey: #83869a;
$color-white: #ffffff;

// Gradients
$gradient-primary: linear-gradient(to bottom, #f02aa6, #ff6f48);
$gradient-secondary: linear-gradient(to bottom, #4851ff, #f02aa6);
