@mixin heading($size, $line-height) {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: $size;
  line-height: $line-height;
}

@mixin body-text {
  font-family: $font-family-secondary;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

@mixin respond($breakpoints) {
  @if $breakpoints== phone {
    @media (max-width: 375px) {
      @content;
    }
  }

  @if $breakpoints== tablet {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoints== laptop {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @if $breakpoints== desktop {
    @media (min-width: 1440px) {
      @content;
    }
  }
}
