$color-primary: #24053e;
$color-secondary: #44ffa1;
$color-tertiary: #584d62;

$color-grey: #fcf8ff;
$color-white: #ffffff;

// Heading boyutları
$h1-font-size: 8rem;
$h2-font-size: 5.6rem;
$h3-font-size: 3.2rem;

// Spacing
$line-height-lg: 1.2;
$line-height-md: 1.3;
$line-height-sm: 1.4;

// Font Family

$font-family-primary: "Fraunces", sans-serif;
$font-family-secondary: "Manrope", sans-serif;
