.btn {
  display: inline-block;
  text-decoration: none;
  color: $color-white;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  border: none;

  &--primary:link,
  &--primary:visited {
    border-radius: 2.8rem;
    background-color: $color-secondary;
    padding: 1.4rem 3.2rem;
  }

  &--primary:hover {
    background-color: $color-secondary-hover;
  }

  &--secondary:link,
  &--secondary:visited {
    border-radius: 3.15rem;
    background: $gradient-primary;
    padding: 2rem 3.2rem;
  }

  &--tertiary:link,
  &--tertiary:visited {
    border-radius: 2.8rem;
    background: $gradient-secondary;
    padding: 1.7rem 3.2rem;
  }
}
