.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10rem;

  margin-bottom: 14.6rem;

  @include respond(min-width, 91em) {
    margin-bottom: 5rem;
  }
}
