// Colors
$color-blue: #66e2dc;
$color-orange: #fa7453;
$color-yellow: #ffb964;

$color-white: #fcfaf9;
$color-black: #191826;

// Headings
$h1-font-size: 8.8rem;
$h2-font-size: 4rem;
$h3-font-size: 3.2rem;
$h4-font-size: 2.4rem;

// Body
$body-md: 2rem;
$body-sm: 1.6rem;

// Line height
$line-height-xl: 8.8rem;
$line-height-lg: 5.2rem;
$line-height-md: 3.4rem;
$line-height-sm: 2.6rem;

//
$letter-spacing-xl: -1px;
