.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25rem;

  @include respond(max-width, 40em) {
    gap: 4rem;
    flex-direction: column;
    margin-bottom: 0;
  }

  &__heading {
    margin-bottom: 2.9rem;
  }

  &__text {
    @include body-text($body-md, 400);
    margin-bottom: 4rem;
    width: 35ch;
  }

  &__image {
    display: block;
    max-width: 100%;
    position: absolute;
    top: -6.5%;
    right: -25%;
    z-index: -99;

    @include respond(min-width, 91em) {
      width: 75%;
      position: initial;
      margin-left: auto;
    }

    @include respond(max-width, 75em) {
      top: -7.5%;
      right: -35%;
    }

    @include respond(max-width, 64em) {
      top: -5%;
      right: -25%;
    }

    @include respond(max-width, 55em) {
      top: -5%;
      right: -30%;
    }

    @include respond(max-width, 48em) {
      width: 75%;
      top: -2.5%;
      right: -28%;
    }

    @include respond(max-width, 40em) {
      position: initial;
      margin-bottom: 4rem;
      margin: 0 auto;
    }
  }
}

.features {
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    rgb(240, 241, 255) 100%
  );

  padding-bottom: 14rem;

  & .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 6rem;

    @include respond(max-width, 48em) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 1.3rem;
    }

    @include respond(max-width, 26.5em) {
      display: flex;
      flex-direction: column;
    }
  }
}
