.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 11rem;

  margin-top: auto;

  &__logo {
    margin-bottom: 6rem;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 2.8rem;
  }
}
